/* ==========================================================================
   Colors
   ========================================================================== */

$mainLight: #f5f5f5;
$mainDark: #222222;
$accentColor: #575757;
