.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

#logo {
  display: flex;
  width: 56px;
  height: 100%;
  padding: 0px;
  margin: 0px;
  float: left;
  cursor: pointer;
  transition: all 0.2s ease-out;
  padding-top: 3vh;
}

#logo:hover {
  transform: scale(1.1);
}

.vl {
  border-left: 3px solid $mainDark;
  height: 32px;
  display: table;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  /* Nav - Mobile */
  .container {
    padding: 0 16px;
  }
}
