@import 'colors';
@import 'utilities';
@import 'character-styles';
@import 'btn';
@import 'speech_balloon';
@import 'about';
@import 'portfolio';

/* ==========================================================================
   Defaults
   ========================================================================== */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.background-grained {
  height: 100vh;

  background-image: url(https://i.stack.imgur.com/sIIwU.gif);
  opacity: 0.05;
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  color: $mainDark;
  background-color: $mainLight;
}

/* ==========================================================================
   Desktop-Navigation
   ========================================================================== */

.nav-menu-mobile {
  display: none;
}

.nav-menu-desktop {
  display: block;
}

.nav-menu-desktop {
  height: 10vh;
  padding-top: 3vh;
  margin-bottom: 2vh;
}

.nav-links-desktop {
  display: flex;
  align-items: center;
  float: right;
  list-style: none;
  width: 49%;
  height: 100%;
  justify-content: space-between;
  margin-left: auto;
  transition: all 0.2s ease-out;
}

.nav-links-desktop li a {
  color: $mainDark;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}

.nav-links-desktop li a:hover {
  color: $accentColor;
  transition: all 0.2s ease-out;
}

/* ==========================================================================
   Hero Section
   ========================================================================== */

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 56px;
  margin: 0 auto;
  height: 82vh;
  width: 100%;
  max-width: 1200px;
  padding: 0 auto;
}

.hero-container-left .btn-main {
  margin-top: 24px;
}

.hero-btn-section {
  margin-top: 24px;
}

.hero-container-right img {
  max-width: 90%;
  height: auto;
  float: right;
}

/* ==========================================================================
   Badass - Section
   ========================================================================== */

.badass-section {
  background-color: $mainDark;
  color: #fff;
  min-height: 400px;
  display: flex;
  align-items: center;
  margin-bottom: 128px;
}

/* ==========================================================================
   Portfolio - Section
   ========================================================================== */

.portfolio-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 32px;
  margin: 0 auto;
  width: 100%;
  padding: 0 auto;
}

.portfolio-intro {
  margin-bottom: 56px;
  max-width: 600px;
}

.portfolio-container h2 {
  margin-top: 24px;
}

.portfolio-container h6 {
  margin-top: 16px;
  margin-bottom: 72px;
}

.portfolio-container a {
  color: $mainDark;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.2s ease-out;
}

.portfolio-container a:hover {
  color: $accentColor;
}

/* ==========================================================================
   Question - Section
   ========================================================================== */

.question {
  margin: 128px 0;
  height: 760px;
  color: #fff;
  background-color: $mainDark;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: -999;
}

.btn-question h2:hover {
  cursor: pointer;
}

.question-style {
  text-decoration: none;
  color: #fff;
}

/* ==========================================================================
   Moving Text - Section
   ========================================================================== */

.moving-text {
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 96px;
}

.marquee {
  font-size: 24px;
  text-transform: uppercase;
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 200px;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 32s linear infinite;
}

.content-moving-text {
  margin-top: 12px;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* ==========================================================================
   Thanks - Section
   ========================================================================== */

.thanks-section {
  text-align: center;
  margin-bottom: 128px;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* ==========================================================================
   Footer- Section
   ========================================================================== */

.footer {
  background-color: $mainDark;
  color: #fff;
  margin-top: 96px;
  padding-top: 96px;
  padding-bottom: 56px;
}
.footer h2 {
  margin-bottom: 8px;
}

.footer p {
  max-width: 500px;
}

.fab {
  margin-top: 40px;
  padding-right: 16px;
}

.fab:hover {
  transition: all 0.2s ease-out;
  transform: scale(1.4);
  cursor: pointer;
  color: #c7c7cc;
}

.far:hover {
  transition: all 0.2s ease-out;
  transform: scale(1.4);
  cursor: pointer;
  color: #c7c7cc;
}

.far {
  padding-right: 16px;
}

.line {
  margin-top: 56px;
  margin-bottom: 24px;
}

.footer-mail {
  color: #fff;
}

.footer-mail:hover {
  transition: all 0.2s ease-out;
  color: #c7c7cc;
}

.copyright {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

/* ==========================================================================
   Screens under 900
   ========================================================================== */
@media screen and (max-width: 900px) {
  /* Under 900 - Hero section */

  .hero-container {
    grid-template-columns: 1fr;
    height: 90%;
    margin-top: 96px;
    margin-bottom: 56px;
  }

  .hero-container-left {
    width: 100%;
  }

  .hero-container-left p {
    max-width: 768px;
  }

  .hero-container-right {
    width: 100%;
  }

  .hero-container-right img {
    max-width: 70%;
    height: auto;
    float: left;
  }

  /* Under 900 - Badass section */
  .badass-section h2 {
    font-size: 32pt;
  }
}

/* ==========================================================================
   Tablet and under
   ========================================================================== */

@media screen and (max-width: 768px) {
  /* Mobile - Navigation */
  .nav-menu-mobile {
    display: block;
  }

  .nav-menu-desktop {
    display: none;
  }

  .nav-menu {
    z-index: 5;
    position: absolute;
    height: 10vh;
    padding-top: 3vh;
    right: 30px;
    cursor: pointer;
    mix-blend-mode: difference;
    transition: all 0.2s ease-out;
  }

  .nav-menu:hover {
    transform: scale(1.1);
  }

  .list-items-mobile a {
    transition: all 0.2s ease-out;
    text-decoration: none;
    color: #fff;
  }

  .list-items-mobile a:hover {
    color: #c7c7cc;
  }

  .list-items-mobile a:active {
    color: #fff;
  }

  .menu-container-mobile {
    z-index: 1;
    position: fixed;
    height: 100%;
    width: 100%;
    background: $mainDark;
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .menu-container-mobile li {
    list-style-type: none;
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #efefef;
  }

  /* Mobile - Hero section */
  .hero-container-left {
    margin-top: 96px;
  }

  .hero-container-left h1 {
    font-size: 48px;
  }

  .hero-container-left p {
    font-size: 22px;
  }

  .hero-container-right img {
    max-width: 90%;
    height: auto;
    float: left;
  }

  /* Mobile - Badass */

  /* Mobile - Portfolio */

  .portfolio-container {
    grid-template-columns: 1fr;
    height: 90%;
    margin-left: 0;
    justify-items: left;
  }
  .portfolio-container h2 {
    font-size: 40px;
  }
}

/* ==========================================================================
   Mobile - Small
   ========================================================================== */

@media screen and (max-width: 480px) {
  /* Nav - Mobile */

  .hero-container h1 {
    font-size: 40px;
  }

  .hero-container p {
    font-size: 20px;
  }

  .hero-container-right img {
    width: 100%;
    height: auto;
  }
}
